:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 100px;
  text-align: center;
  background-color: light-dark(#efedea, #070709);
  color: light-dark(#070709, #efefec);
}

#themeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  padding: 5px;
  text-align: center;
}

html.force-dark {
  color-scheme: dark;
} /* Force le mode dark */

html.force-light {
  color-scheme: light;
} /* Force le mode light */

#gameMain {
  display: flex;
  flex-direction: column;
  border: 2px solid light-dark(#070709, #efefec);
  border-radius: 15px;
  padding: 30px;
  scale: 140%;
  gap: 20px;
}

#gameDesc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

#gameDesc p {
  margin-top: -20px;
  font-size: 1.5rem;
}

#selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#selector svg {
  width: 10rem;
  height: fit-content;
  fill: light-dark(#070709, #efefec);
}

#matchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 2px solid light-dark(#070709, #efefec);
  gap: 15px;
  border-radius: 10px;
}

#opponent {
  font-weight: bold;
}

#opponentDetails {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#opponentImage {
  width: 3.5rem;
  border-radius: 10px;
}

#selector svg {
  cursor: pointer;
}

.selectorBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#victories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid light-dark(#070709, #efefec);
  border-radius: 10px;
  padding: 5px;
  margin-left: 300px;
  margin-right: 300px;
}

#victories p {
  font-weight: bold;
}

#wins {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
